<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="ionic-camera-module"
    version="1">
    <name>CameraModule</name>
    <description>Camera Module Plugin</description>
    <license>Apache 2.0</license>
    <keywords>Ionic,Camera,Instant</keywords>
    <repo>https://github.com/1stQuad/ionic-camera</repo>
    <issue>https://github.com/1stQuad/ionic-camera/issues</issue>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/ios/camera-module.js" name="camera-module">
            <runs/>
            <clobbers target="cordova.plugins.CameraModule" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="CameraModule">
                <param name="ios-package" value="CameraModule" onload="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CameraModule.h" />
        <source-file src="src/ios/CameraModule.m" />
        <header-file src="src/ios/CameraModuleView.h" />
        <source-file src="src/ios/CameraModuleView.m" />
        <resource-file src="moneyFrame.png" />
        <resource-file src="moneyFrame@2x.png" />
        <resource-file src="backButtonWhiteArrow.png" />
        <resource-file src="backButtonWhiteArrow@2x.png" />
    </platform>

</plugin>
